.portal {
    width: 100%;
    min-height: 100vh;
    background: #1e1a38;
    display: flex;
    align-items: center;
    .content {
        display: flex;
        margin-left: 58px;
        min-height: 100vh;
        width: calc(100% - 58px);
        flex-direction: column;
    }
}

.content-ideas {
    padding: 24px;
}

.header {
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    position: relative;
    .name {
        color: white;
    }
    .title {
        color: #00fff0;
        font-size: 20px;
    }
    .subtitle {
        margin-top: 30px;
        color: white;
    }
    .header-buttons {
        position: absolute;
        right: 0px;
    }
}

.nav {
    position: fixed;
    background: #1e1a38;
    left: 0;
    top: 0;
    width: 58px;
    height: 100vh;
    box-shadow: -50px -44px 108px #00ffd0;
}

.masonry-with-columns {
    margin-top: 30px;
    columns: 3 264px;
    grid-column-gap: 40px;
    .masonry-brick:hover {
        border: 1px solid #00fff0;
        box-shadow: 24px 16px 80px rgba(0, 255, 208, 0.2);
        .name {
            color: #00fff0;
        }
    }
    .masonry-brick {
        text-align: left;
        padding: 24px;
        width: 150px;
        color: white;
        margin: 0 40px 40px 0;
        background: #1e1a38;
        border: 1px solid #787688;
        box-sizing: border-box;
        border-radius: 4px;
        width: 100%;
        text-align: center;
        font-family: system-ui;
        font-weight: 900;
        display: inline-block;
        .name {
            text-align: left;
            font-size: 20px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-bottom: 1px solid #787688;
        }
        .goal {
            color: #787688;
            padding-top: 10px;
            font-size: 16px;
            text-align: left;
        }
        .buttons {
            display: flex;
            margin-top: 20px;
            button:nth-child(1){
                margin-left: 0;
            }
        }
    }
}

.skills {
    display: flex;
    
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    place-items: center;
    flex-wrap: wrap;
    p {
        flex-shrink: 0;
        margin-right: 8px;
        margin-left: 8px;
    }
}

.details {
    display: flex; 
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    place-items: center;
    flex-wrap: wrap;
    margin-top: 12px;
    div {
        display: flex;
    }
    p {
        flex-shrink: 0;
        margin-right: 8px;
        margin-left: 8px;
    }
}

.skill-pill {
    border: 1px solid #787688;
    box-sizing: border-box;
    border-radius: 32px;
    height: 24px;
    padding-left: 12px;
    padding-right: 12px; 
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    margin-right: 8px;
}
