.connect-button{
    .button {
        background: #1E1A38;
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-sizing: border-box;
        border-radius: 4px;
        width: 264px;
        height: 56px;
        margin-bottom: 16px;
        cursor: pointer;
    }

    .button:hover {
        box-shadow: 24px 16px 80px #00ffd033;
        border: 2px solid #0AF8D2;
    }

    .button:hover > .button-div > p{
        color:#0AF8D2;
    }

    .button-div {
        color: #ffffff;
        
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    .icon {
        margin-right: 20px;
    }
}