.secondary-button {
    cursor: pointer;
    
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-left: 16px;
    color: #13debe;
    background: transparent;
    padding-left: 14px;
    padding-right: 14px;
}

.secondary-button:hover {
    cursor: pointer;
    
    height: 40px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    margin-left: 16px;
    color: #00fff0;
    background: rgba(0, 255, 240, 0.1);
    padding-left: 14px;
    padding-right: 14px;
}

.secondary-button-disabled {
    cursor: pointer;
    
    height: 40px;
    font-size: 16px;
    color: #787688;
    border-radius: 4px;
    border: none;
    background: transparent;
    margin-left: 16px;
    padding-left: 14px;
    padding-right: 14px;
}

.secondary-button.secondary-border{
    border: 1px solid #13DEBE;
}

.secondary-button:hover.secondary-border{
    border: 1px solid #00FFF0;
} 
.secondary-button-disabled.secondary-border{
    border: 1px solid #787688;
}